{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE|default:"en-us" }}" xml:lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
	{% block extrameta %}{% endblock %}

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/signin.css"/>
	<script src="{{ STATIC_URL }} bootstrap/js/bootstrap.min.js"></script>

	{% block extrastyle %}{% endblock %}

	</head>
	<body class="{% block bodyclass %}{% endblock %}">
	  <div class="container">
	    {% block content %}
		{% endblock %}
	    <footer></footer>
	  </div>
	</body>
</html> 