{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
  
 <form action="{% url 'posts:login' %}" method = "post" class="form-signin">
  {% csrf_token %}
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Sign in</button>
    <a href="/register"> <h6> Not yet registered? Sign up </h6> </a>
    <input type="hidden" name="next" value="{{ next }}" />

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
    <p class="error">Sorry, your username and/or password is incorrect.</p>
    </div>
    {% endif %}
  </form>

  <!-- <div class="page-header">
    <h1>Register</h1>
  </div>
 -->

<!-- <form action="/register/" method="post" class="form-signin">
 {% csrf_token %}
 <h2 class="form-signin-heading">Sign Up</h2>
 {{ form }}
<button class="btn btn-lg btn-primary btn-block" type="submit" value="register">Register</button>

</form> -->

{% endblock %}